.balance-wrapper span {
  margin-right: 5px;
}

.span-name {
  font-weight: 600;
}

.span-flat {
  font-weight: 300;
}

.span-balance-positive {
  color: var(--teal-color);
}

.span-balance-negative {
  color: var(--red-color);
}
