.home-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.home-balance {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.home-expenses-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
