.balance {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  width: max-content;
  margin: 10px auto 15px;
}

@media only screen and (max-width: 600px) {
  .balance {
    width: 100%;
    word-break: break-all;
  }
}
