.friend-form {
  display: flex;
  padding: 20px 30px;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  width: max-content;
  border-radius: 8px;
  border: 2px solid var(--dark-color);
  background-color: var(--light-grey-color);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 0;
}

@media only screen and (max-width: 480px) {
  .friend-form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .input-wrapper {
    width: 100%;
  }

  .input-container {
    width: 100%;
    flex-direction: column;
  }
}
