.user-list {
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey-color);
  border-radius: 10px;
  margin: 20px auto;
  width: max-content;
  font-weight: 600;
  color: var(--black-color);
  list-style: emoji-collection;
  padding: 1rem 2.5rem;
  li {
    margin: 0 3px 0 0;
  }
}
