@counter-style emoji-collection {
  system: fixed;
  symbols: 🖤 🩵 🧡 💛 💚 💙 💜 🩷 🩶 🤍 🤎;
  suffix: ' ';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --black-color: #222831;
  --dark-grey-color: #31363f;
  --light-grey-color: #eeeeee;
  --teal-color: #76abae;
  --red-color: #780000;
  --white-color: #ffffff;
}

.title {
  margin-top: 0;
  color: var(--black-color);
  display: flex;
  justify-content: center;
}

.input {
  width: 200px;
  padding: 12px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  border-bottom: 2px solid var(--dark-grey-color);
  box-sizing: border-box;
  background-color: #f8f9fa;
  transition: width 0.4s ease-in-out;
  color: var(--dark-grey-color);
}

.input:focus {
  border: 3px solid var(--dark-grey-color);
  width: 300px;
}

.input:focus-visible {
  outline: none;
}

.error {
  color: var(--red-color);
  font-size: 0.8rem;
  margin-top: 4px;
}

.button {
  background-color: var(--teal-color);
  border: none;
  color: var(--light-grey-color);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 0;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background-color: var(--teal-color);
  border: 2px solid var(--dark-grey-color);
  color: var(--black-color);
}
.button:disabled {
  background-color: var(--light-grey-color);
  border: 1px solid var(--dark-grey-color);
  color: var(--dark-grey-color);
  cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
  .input {
    width: 100%;
  }
}
