@counter-style emoji-collection {
  system: fixed;
  symbols: 🖤 ❤️‍🔥 🩵 🧡 💛 💚 💙 💜 🩷 🩶 🤍 🤎;
  suffix: ' ';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.title {
  margin-top: 0;
  color: #003049;
  display: flex;
  justify-content: center;
}

.input {
  width: 200px;
  padding: 12px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  border-bottom: 2px solid #003566;
  box-sizing: border-box;
  background-color: #f8f9fa;
  transition: width 0.4s ease-in-out;
  color: #003566;
}

.input:focus {
  border: 3px solid #003566;
  width: 300px;
}

.input:focus-visible {
  outline: none;
}

.error {
  color: #780000;
  font-size: 0.8rem;
  margin-top: 4px;
}

.button {
  background-color: #ffc300;
  border: none;
  color: #003566;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 0;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background-color: #ffd60a;
  border: 2px solid #003566;
  color: #001d3d;
}
.button:disabled {
  background-color: #edede9;
  border: 1px solid #003566;
  color: #003566;
  cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
  .input {
    width: 100%;
  }
}
