.card-container {
  width: 350px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey-color);
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  display: flex;
  border: none;
  cursor: pointer;
}

.card-body {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-grey-color);
  padding-bottom: 5px;
}

.card-field {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 5px 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-subtitle {
  font-weight: 400;
  color: var(--dark-grey-color);
}

.card-footer {
  justify-content: flex-end;
  padding-top: 5px;
  font-weight: 300;
}

@media only screen and (max-width: 992px) {
  .card-container {
    width: 280px;
  }
}
